* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-image: url(../images/header.jpg);
    height: 25rem;
}

header h1 {
    padding-top: 3rem;
    text-align: center;
    font-size: 8rem;
    color: bisque;
    text-shadow: 0.3rem 0.4rem rgb(56, 54, 54);
    font-family: 'Cursive', Florence, cursive;
    font-weight: 200
}

header h4 {
    margin-top: 2rem;
    color: bisque;
    font-size: 2rem;
    text-align: center;
    font-family: 'Cursive', Florence, cursive;
}


body {
    background-size: cover;
}



nav {
    text-align: center;
    background-color: bisque;
    background-image: url(../images/images99.jpg);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top:  rgba(73, 72, 70, 0.485) solid 5px;
    border-bottom: rgba(73, 72, 70, 0.485) solid 5px;
}

.nav-bar {
    padding-top: 2rem;
    display: inline;
    border-top: black solid 5px;
    border-bottom: black solid 5px;
}

.nav-bar a {
    color: bisque;
    padding: 5px 10px;
    margin-right: 5rem;
    font-size: 1.8rem;
    background-image: linear-gradient(270deg, bisque 0%, bisque 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2rem;
    background-position: bottom;
    background-color: black;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
    border-radius: 20px;
    font-family: 'Cursive', Florence, cursive;
    text-decoration: none;
    cursor: pointer;
}

.nav-bar a:hover {
    background-size: 100% 100%;
    color: black;
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    font-size: 20px;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgba(177, 176, 175, 0.34);
    background-image: url(../images/images-4.jpg);

}

.grid-container a {
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px;
    padding: 2rem;
    padding-left: 4rem;
    text-align: center;
    border: black solid 3px;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0,5s;
    cursor: pointer;
}

h3 {
    color: black;
    text-shadow: 0.5px 0.5px bisque;
}

.grid-container a:hover {
    background-color: rgba(255, 228, 196, 0.32);
}

.portfolio {
    padding-top: 10rem;
    background-color: rgba(131, 122, 122, 0.499);
}

.portfolio h2 {
    border-top: rgba(0, 0, 0, 0.387) solid 4px;
    border-bottom: black solid 4px;
    font-size: 60px;
    text-align: center;
    text-shadow: 0.1rem 0.1rem bisque;
    font-family: 'Cursive', Florence, cursive;
    background-image: url(../images/images99.jpg);
}



.photo {
    background-image: url(../images/images.jpg);
    grid-column: 1;
    grid-row: 2;

}

.photo1 {
    background-image: url(../images/images-1.jpg);
    grid-column: 2;
    grid-row: 2;
    align-items: center;
}

.photo2 {
    background-image: url(../images/images-2.jpg);
    grid-column: 3;
    grid-row: 3;
    align-items: center;
}

.photo3 {
    background-image: url(../images/images-3.jpg);
    grid-column: 4;
    grid-row: 4;
    align-items: center;
}

.photo4 {
    background-image: url(../images/images-6.jpg);
    align-items: center;
}

.photo5 {
    background-image: url(../images/images-5.jpg);
    align-items: center;
    background-repeat: no-repeat;
}

.photo6 {
    background-image: url(../images/images-7.jpg);
    align-items: center;
}

.photo7 {
    background-image: url(../images/images-8.jpg);
    align-items: center;
}

.carousel {
    width: 80%;
    height: 10rem; /* Adjust the height as per your requirements */
    overflow: hidden;

  }
  
  .carousel-images {
    display: flex;
    width: 300%; /* Width = 100% * number of images */
    animation: carouselAnimation 15s infinite;
  }
  
  .carousel-images img {
    width: 33.33%; /* Width = 100% / number of images */
    height: 100%;
    object-fit: cover;
  }
  
  @keyframes carouselAnimation {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
    75% {
      margin-left: -300%;
    }
    95% {
      margin-left: -300%;
    }
    100% {
      margin-left: 0;
    }
  }

  .upcoming-work {
    border-bottom: black solid 4px;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  
.upcoming-work h2 {
    text-align: center;
    font-family: 'Cursive', Florence, cursive;
    font-size: 60px;
    color: bisque;
    background-image: url(../images/images-4.jpg);
}

.upcoming-work h3 {
    text-align: center;
    font-family: 'Cursive', Florence, cursive;
    font-size: 35px;
    color: black;
    background-color: bisque;
    background-image: url(../images/images99.jpg);
    border-top: rgba(0, 0, 0, 0.322) solid 5px;
    border-bottom: rgba(0, 0, 0, 0.322) solid 5px;


}

.upcoming-work p {
    font-size: 22px;

}

.about {
    padding-bottom: 2rem;
    border-bottom: black solid 4px;
}

.about h2 {
    text-align: center;
    font-family: 'Cursive', Florence, cursive;
    font-size: 60px;
    color: bisque;
    background-image: url(../images/images-4.jpg);
}

.about p {
    font-size: 22px;
    text-align: center;
}

.contact {
    background-color: black;    
    padding-bottom: 2rem;
    border-top: bisque solid 4px;
    background-image: url(../images/header.jpg);

}

.contact h2 {
    font-family: 'Cursive', Florence, cursive;
    color: bisque;
    font-size: 60px;
    padding-left: 2rem;
}

.contact a {
    color: bisque;
    font-size: 30px;
    padding: 5px 10px;
    margin-right: 20px;
    background-image: linear-gradient(270deg, bisque 0%, bisque 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2rem;
    background-position: bottom;
    transition: all 0.25s ease-in;
    border-radius: 25px;
    font-family: 'Cursive', Florence, cursive;
    border-bottom: 5px solid black;
    text-decoration: none;
}

.contact a:hover {
    background-size: 100% 100%;
    color: black;
}